@model GreenPOS.Models.QuotesViewModel
<!-- outlook.com bug fix, Outlook.com stripping conditional comments -->
<!--[if t]><![endif]--><!--[if t]><![endif]--><!--[if t]><![endif]--><!--[if t]><![endif]--><!--[if t]><![endif]-->
<!--[if

t]><![endif]-->
<!--[if t]><![endif]--><!--[if t]><![endif]--><!--[if t]><![endif]--><!--[if t]><![endif]-->
<!-- header -->
<table border="0" cellpadding="0" cellspacing="0" width="100%" style="background:#f2f5f7" bgcolor="#F2F5F7">
    <tbody>
        <tr>
            <td bgcolor="#FFFFFF" align="center" style="padding-bottom:0px 0px 15px 0px;border-collapse:collapse!important;font-family:Arial,Helvetica,sans-serif;font-size:1px;color:#f2f5f7;background-color:#ffffff">
            </td>
        </tr>
        <tr>
            <td bgcolor="#F2F5F7" height="10" align="center" style="border-top:solid 4px #d29d0a;font-family:Helvetica,Arial,sans-serif;padding-bottom:0px;height:10px">
                &nbsp;
            </td>
        </tr>
        <tr>
            <td align="center" style="font-family:Helvetica,Arial,sans-serif;padding:15px 0px 30px 0px">
                <a href="" style="font-family:Helvetica,Arial,sans-serif;font-size:15px;color:black" target="_blank">
                    <img src="" alt="" width="130" height="30" style="height:auto;text-decoration:none;border:0">
                </a>
            </td>
        </tr>
        <tr>
            <td align="center" style="font-family:Helvetica,Arial,sans-serif">
                <table cellspacing="0" cellpadding="0" width="620" style="border-collapse:collapse!important">


                    <tbody>
                        <tr>
                            <td>
                                <span style="font-family:Helvetica,Arial,sans-serif;font-size:1px;color:#f2f5f7">
                                </span>

                            </td>
                        </tr>
                        <tr>
                            <td align="center" style="font-family:Helvetica,Arial,sans-serif;padding:0;background:#f2f5f7" bgcolor="#F2F5F7">
                                <a href="" target="_blank"><img src="" width="620" height="330" alt="" style="text-decoration:none;display:block;border-top-left-radius:4px;border-top-right-radius:4px;border-bottom-left-radius:0px;border-bottom-right-radius:0px;border:0"></a>
                            </td>
                        </tr>
                        <tr>
                            <td bgcolor="#ffffff" align="center" style="font-family:Helvetica,Arial,sans-serif;font-size:34px;line-height:46px;color:#3c475b;padding:35px 60px 10px 60px;text-align:center;background-color:#ffffff">
                                <span style="font-family:'Source Sans Pro',Helvetica,Arial,sans-serif!important;font-weight:600">
                                    Your Building Quote
                                </span>
                            </td>
                        </tr>
                        <tr>
                            <td align="center" style="font-family:Helvetica,Arial,sans-serif;font-size:15px;line-height:22px;color:#515b6d;text-align:center;background-color:#ffffff">
                                <table width="40px" align="center">
                                    <tbody>
                                        <tr>
                                            <td style="padding:20px 0px 20px 0px">
                                                <hr style="width:40px;height:1px;color:#e8e9ea;opacity:0.9;background:#e8e9ea;margin:0;border:none">
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td bgcolor="#ffffff" align="center" style="font-family:Helvetica,Arial,sans-serif;font-size:20px;line-height:26px;text-align:left !important;color:#515b6d;padding:0px 60px 35px 60px;text-align:center;background-color:#ffffff">
                                <span style="font-family:'Source Sans Pro',Helvetica,Arial,sans-serif!important;margin-left:0px !important">
                                    Hi @Model.Name,<br /><br />
                                    We are pleased to advise you that as per your requirements we have generated the attached Building Quote for your new home. <br />
                                    <br />
                                    Address: @Model.CustomerProjectAddress <br />
                                    @*Attached Quote:<b>EH10001-Quote-24012020. </b>*@
                                    <br />
                                    <br />
                                    If you have any questions, please don’t hesitate to get in contact us directly (ph: 130013001300).	<br />

                                    Please visit <a href="">Test Company</a> for more information.

                                    <br />
                                    <br />
                                </span>
                                <p style="display:block;">Kind Regards,</p></b>
                                Team</b>

                                <p style="display:block;">
                                    <img src="" alt="" width="130" height="30" style="height:auto;text-decoration:none;border:0">
                                </p>

                                </b>


                            </td>





                        </tr>

                        <tr>

                            <td align="center" style="font-family:Helvetica,Arial,sans-serif;text-align:center;color:#a9afba;font-size:11px;line-height:16px;font-weight:normal;padding:10px 30px 32px 30px">


                                <span style="font-family:'Source Sans Pro',Helvetica,Arial,sans-serif!important">
                                    Security Information:we never request information which is personal or financial in nature via email. Please be aware of suspicious emails claiming to offer our products and services.
                                    Test Company <span></span>
                                </span>
                                <br><br>

                            </td>
                        </tr>

                    </tbody>
                </table>
            </td>
        </tr>
    </tbody>
</table>

