<div class="col-md-12 maininner">
    <div class="white-box">
        <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#home">Project Details</a></li>
            <li><a data-toggle="tab" href="#menu1">Tender</a></li>
            <li><a data-toggle="tab" href="#menu2">Checklist</a></li>
        </ul>
        <div class="tab-content">
            <div id="home" class="tab-pane fade in active">
                <div class="col-sm-12">
                    <div class="form-group row floatbpox">
                        <button class="status-warning" aria-disabled="false" tabindex="0">Cancel</button>
                        <button class=" status-info" aria-disabled="false" tabindex="0">Send Email</button>
                        <button _ngcontent-xkb-c18="" nbbutton="" status="success" _nghost-xkb-c16="" ng-reflect-status="success" class="appearance-filled size-medium status-success shape-rectangle transitions" aria-disabled="false" tabindex="0">Save</button>
                    </div>
                    <form class="form-horizontal">
                        <div class="form-group col-sm-6">
                            <label class="col-sm-3 control-label">Customer</label>
                            <div class="col-sm-9">
                                <input class="form-control" id="" type="text" value="" placeholder="Customer Name">
                            </div>
                        </div>
                        <div class="form-group col-sm-6">
                            <label class="col-sm-3 control-label">Address</label>
                            <div class="col-sm-9">
                                <input class="form-control" id="" type="text" value="" placeholder="Address">
                            </div>
                        </div>
                        <div class="form-group col-sm-6">
                            <label class="col-sm-3 control-label">
                                Contact
                            </label>
                            <div class="col-sm-9">
                                <input class="form-control" id="" type="text" value="" placeholder="Customer Contact">
                            </div>
                        </div>
                        <div class="form-group col-sm-6">
                            <label class="col-sm-3 control-label">Customer Email</label>
                            <div class="col-sm-9">
                                <input class="form-control" id="" type="text" value="" placeholder="Customer Email">
                            </div>
                        </div>
                        <div class="form-group col-sm-6">
                            <label class="col-sm-3 control-label">Total Price</label>
                            <div class="col-sm-9">
                                <input class="form-control" id="" type="text" value="" placeholder="Total Price">
                            </div>
                        </div>
                        <div class="form-group col-sm-6">
                            <label class="col-sm-3 control-label">FloorPlan</label>
                            <div class="col-sm-9">
                                <select name="cars" class="form-control">
                                    <option selected>Select</option>
                                    <option value="volvo">FloorPlan </option>
                                    <option value="fiat"> FloorPlan1</option>
                                    <option value="fiat"> FloorPlan2</option>
                                    <option value="fiat"> FloorPlan3</option>
                                    <option value="fiat"> FloorPlan4</option>
                                    <option value="fiat"> FloorPlan5</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group col-sm-6">
                            <label class="col-sm-3 control-label">Status</label>
                            <div class="col-sm-9">
                                <select name="cars" class="form-control">
                                    <option selected>Select</option>
                                    <option value="volvo">Started </option>
                                    <option value="fiat"> In Progress</option>
                                    <option value="fiat"> Completed</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group col-sm-6">
                            <label class="col-sm-3 control-label">Facade</label>
                            <div class="col-sm-9">
                                <select name="cars" class="form-control">
                                    <option selected>Select</option>
                                    <option value="volvo">Facade </option>
                                    <option value="fiat"> Facade1</option>
                                    <option value="fiat"> Facade2</option>
                                    <option value="fiat"> Facade3</option>
                                    <option value="fiat"> Facade4</option>
                                    <option value="fiat"> Facade5</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group col-sm-6">
                            <label class="col-sm-3 control-label">Supervisor</label>
                            <div class="col-sm-9">
                                <input class="form-control" id="" type="text" value="" placeholder="Supervisor">
                            </div>
                        </div>
                        <div class="form-group col-sm-6">
                            <label class="col-sm-3 control-label">Supervisor Contact</label>
                            <div class="col-sm-9">
                                <input class="form-control" id="" type="text" value="" placeholder="Supervisor Contact">
                            </div>
                        </div>
                        <div class="form-group col-sm-6">
                            <label class="col-sm-3 control-label">Notes</label>
                            <div class="col-sm-9">
                                <textarea class="form-control" rows="5"></textarea>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div id="menu1" class="tab-pane fade">
                <div class="admin-box col-sm-12">
                    <h2>
                        <input type="text" placeholder="Search..." class="form-control searchbox"> <a href="" class="active serchicon">
                            <i class="fa fa-search"></i>
                        </a>

                    </h2>
                    <div class="form-group col-sm-5">
                        <label class="col-sm-3 control-label">Category</label>
                        <div class="col-sm-9">
                            <select name="cars" class="form-control">
                                <option selected="">Select</option>
                                <option value="volvo">Category </option>
                                <option value="fiat"> Category1</option>
                                <option value="fiat"> Category2</option>
                                <option value="fiat"> Category3</option>
                                <option value="fiat"> Category4</option>
                                <option value="fiat"> Category5</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row floatbpox">

                        <button class="status-warning" aria-disabled="false" tabindex="0">Cancel</button>

                        <button _ngcontent-xkb-c18="" nbbutton="" status="success" _nghost-xkb-c16="" ng-reflect-status="success" class="appearance-filled size-medium status-success shape-rectangle transitions" aria-disabled="false" tabindex="0">Save</button>
                        <button class=" status-info" aria-disabled="false" tabindex="0">Generate Tendor</button>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-9">

                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th style="background: aquamarine;">Cateogry</th>
                                    <th style="background: aquamarine;" nowrap="">Sub Category</th>
                                    <th style="background: aquamarine;">Item</th>
                                    <th style="background: aquamarine;">Price</th>
                                    <th style="background: aquamarine;">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Facade</td>
                                    <td>Facade</td>
                                    <td>Avenue</td>
                                    <td>$11000</td>

                                    <td>
                                        <a class="edit" title="" data-toggle="tooltip" data-original-title="Edit"><i class="material-icons"></i></a>
                                        <a class="delete" title="" data-toggle="tooltip" data-original-title="Delete"><i class="material-icons"></i></a>

                                    </td>

                                </tr>
                                <tr>
                                    <td>Site Costs</td>
                                    <td>Hi Slab</td>
                                    <td>The mitem m</td>
                                    <td>Included</td>

                                    <td>
                                        <a class="edit" title="" data-toggle="tooltip" data-original-title="Edit"><i class="material-icons"></i></a>
                                        <a class="delete" title="" data-toggle="tooltip" data-original-title="Delete"><i class="material-icons"></i></a>

                                    </td>

                                </tr>
                                <tr>
                                    <td>Site Costs</td>
                                    <td>Hi Slab</td>
                                    <td>Soild Report.</td>
                                    <td>$1000</td>

                                    <td>
                                        <a class="edit" title="" data-toggle="tooltip" data-original-title="Edit"><i class="material-icons"></i></a>
                                        <a class="delete" title="" data-toggle="tooltip" data-original-title="Delete"><i class="material-icons"></i></a>

                                    </td>

                                </tr>

                            </tbody>
                        </table>
                    </div>
                    <div class="col-sm-3">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th style="background: aquamarine;">Name</th>
                                    <th style="background: aquamarine;">GeneratedON</th>

                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Temder_2019_11_5</td>
                                    <td>05 Nov 2019</td>

                                </tr>

                            </tbody>
                        </table>
                    </div>
                    <div class="col-sm-9">
                        <table class="table table-bordered text-center">
                            <thead>
                                <tr>
                                    <th style="background: aquamarine; width: 50%; text-align: center;">Cateogry</th>
                                    <th style="background: aquamarine; width: 50%;text-align: center;">Total</th>

                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Facade</td>
                                    <td>$1000</td>

                                </tr>
                                <tr>
                                    <td>Site Costs</td>
                                    <td>$1600</td>

                                </tr>
                                <tr>
                                    <td>Inclusions</td>
                                    <td>$2500</td>

                                </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div id="menu2" class="tab-pane fade">
                <div class="col-sm-6">
                    <table class="table table-bordered text-center">
                        <thead>
                            <tr>
                                <th style="background: aquamarine; width: 33%;text-align: center;">Checked</th>
                                <th style="background: aquamarine;width: 33%;text-align: center;">Description</th>
                                <th style="background: aquamarine;width: 33%;text-align: center;">Category</th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td> <input type="checkbox" class="form-check-input" value=""></td>
                                <td>Look for windows sinks</td>
                                <td>Bathroom</td>

                            </tr>
                            <tr>
                                <td> <input type="checkbox" class="form-check-input" value=""></td>
                                <td>Leave .9mm from front</td>
                                <td>Brickwork</td>

                            </tr>
                            <tr>
                                <td> <input type="checkbox" class="form-check-input" value=""></td>
                                <td>Double Check window Installation</td>
                                <td>Roofing</td>

                            </tr>


                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
</div>